# ── Tokenler ───────────────────────────────────────────────────

BOT_TOKEN=your_bot_token

# ── MYSQL ───────────────────────────────────────────────────
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=bytebunny

# ── REDIS ───────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ── Uygulama ───────────────────────────────────────────────────
LOG_LEVEL=all  # ALL / OK / INFO / ERROR / WARNING / NONE